@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../font/Open_Sans/style.css");

* {
  @apply box-border m-0 p-0;
}
body {
  @apply font-OpenSans text-xs lg:text-md text-gray-300;
}
html {
  scroll-behavior: smooth;
}

h2 {
  @apply text-3xl text-gray-900 font-semibold;
}
h3 {
  @apply text-lg text-gray-900 font-semibold;
}

.animation-bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0px);
  }
}
