@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../font/Open_Sans/style.css");

* {
  @apply box-border m-0 p-0;
}
body {
  @apply font-OpenSans text-xs lg:text-md text-gray-300;
}
html {
  scroll-behavior: smooth;
}

.animation-bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
